.home {
  display: flex;
  flex-direction: column;

  .header {
    width: 100vw;
    height: 8vh;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      height: 45px;
      width: 130px;
      background-color: forestgreen;
      color: white;
      font-size: 12px;
      font-weight: 500;
      margin-right: 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    &__check {
      color: white;
      margin-right: 10px;
    }
  }

  &__editor {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 90vh;
    overflow-y: hidden;
  }
}
